

.segundo-bloque {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666666;
    font-size: 16px;
    padding-top: 5px;
    background-image: url(../img/linea-azul-2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: table;
    margin: 0;
}

.segundo-bloque h2 {
	margin: 0;
    display: table-cell;
    vertical-align: middle;
	padding-left: 15px;
}

.segundo-bloque1 h2 {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;

}

i.font-bloque-2 {
	display: table-cell;
	vertical-align: middle;
	font-size: 39px;
	color: #1E0F62;
	left: 0;
}

.card-height {
	height: 75px;
}

.margin-primer {
	margin-top: 15px;
}