
.logo-superior {
	width: 100%;
	background-color: #191A36;
}

.logo-superior .css-inicio img {
	float: left !important;
}

.sin-row {
	padding: 0px !important;
	margin: 0px !important;
}

.sin-padding {
	padding: 0px;
}
